<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Eleventy Plugin Vite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}" />
  </head>

  <body>
    <h1>Eleventy Plugin Vite</h1>
  </body>
</html>
